<section class="gallery" id="gallery">
    <h2><%= render gallery.get_content("title") %></h2>
    <%= tag.div class: "container", style:"view-transition-name: fade" do %>
        <%= render gallery.pics, size: "small" %>
    <% end %>
    <%= tag.div class: "browsePics" do %>
        <%= tag.button "right" %>
    <% end %>
</section>